{% extends 'base.html' %}


{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Busca Hotel</h1>

<form method="POST" action="{% url 'hotel' %}">
{% csrf_token %}
Cidade:
<br>
<input type="text" name="cidade">
<br>
Pais:
<br>
<input type="text" name="pais">
<br>
Numero de adultos:
<br>
<input type="text" name="adultos">
<br>
Quantidade de quartos:
<br>
<input type="text" name="quartos">
<br>
Quantidade de noites:
<br>
<input type="text" name="noites">
<br>
Data de check-in (AAAA-MM-DD):
<br>
<input type="text" name="checkin">
<br>
<br>
<input class="btn btn-primary" type="submit" value="Busca hotel">
</form>

{% endblock %}
